[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
name = "pypi"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.7"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-apscheduler = "*"
flask-login = "*"
flask-socketio = "*"
flask-script = "*"
flask-migrate = "*"
forgerypy = "*"
requests = "*"
flask-httpauth = "*"
redis = "*"
hiredis = "*"
flask-redis = "*"
beautifulsoup4 = "*"
gunicorn = "*"
flask-cors = "*"
pymysql = "*"
